<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Details

    <div >
      
        <!-- <h1> {{ todo.name}}</h1>
        <p>{{ todo.email}}</p> -->

       <h1> {{ dev.name}}</h1>
       <p>{{ dev.email}}</p>
       <p> {{dev.Describe__yourself}}</p>
       <p> {{dev.location}}</p>
       <p></p>

       <!-- <a href="/{{todo.id}}/update"> Update this todo</a>
       <a href="/{{todo.id}}/delete"> delete</a> -->
    </div>
</body>
</html>